<!DOCTYPE html>
<html>
  <head>
    <title>Miki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'vuetify/dist/vuetify.min.css', media: 'all' %>
  </head>

  <body>
    <div id="app">
      <%= yield %>
    </div>
  </body>

  <%= javascript_pack_tag 'app' %>
</html>
